{% extends "base.html" %}
{% load static %}

{% block title %}Residence News{% endblock %}

{% block intro %}
    News & Events
{% endblock %}

{% block content %}
    <section class="blog-cat mt-5 pb-5">

	<div class="container mb-5">
		<div class="text-center container-less resources-feed-heading">
			<h1 class="in-news h3 text-red font-italic">CHMSC University News</h1>
			<a class="btn btn-primary text-white mt-3" onclick=" window.open('https://www.tbdhu.com/coviddata')">Current COVID-19 Cases in Thunder Bay</a>
		</div>
	</div>
	<div class="fullbar-item w-100 cursor-pointer" onclick="location.href='#'">
		<div class="container">
			<div class="row py-3 py-md-5 align-items-center border-top">
				<div class="col-md-10">
					<h3 class="feed-item-heading m-0 font-weight-800">
                        <a href="https://www.lakeheadu.ca/about/news-and-events/news/archive/2020/node/61976" target="_blank">CHMSC University launches Global Indigenous Speaker Series</a>
				</div>
				<div class="col-md-2">
					<p class="m-0 text-pink text-uppercase">Nov 30,2020</p>
				</div>
			</div>
		</div>
	</div>
	<div class="fullbar-item w-100 cursor-pointer" onclick="location.href='#'">
		<div class="container">
			<div class="row py-3 py-md-5 align-items-center border-top">
				<div class="col-md-10">
					<h3 class="feed-item-heading  m-0 font-weight-800">
                         <a href="https://www.lakeheadu.ca/about/news-and-events/news/archive/2020/node/61934" target="_blank">Lakehead University’s Board of Governors announces plan to divest from fossil fuel holdings</a>
					</h3>
				</div>
				<div class="col-md-2">
					<p class="m-0 text-pink text-uppercase">Nov 30,2020</p>
				</div>
			</div>
		</div>
	</div>
	<div class="fullbar-item w-100 cursor-pointer" onclick="location.href='#'">
		<div class="container">
			<div class="row py-3 py-md-5 align-items-center border-top">
				<div class="col-md-10">
					<h3 class="feed-item-heading  m-0 font-weight-800">
						<a href="https://www.lakeheadu.ca/students/wellness-recreation/student-health-and-wellness/alerts-news/node/61868" target="_blank">Student Health and Wellness adds Naturopath services to its roster</a>
					</h3>
				</div>
				<div class="col-md-2">
					<p class="m-0 text-pink text-uppercase">Nov 23,2020</p>
				</div>
			</div>
		</div>
	</div>
	<div class="fullbar-item w-100 cursor-pointer" onclick="location.href='#'">
		<div class="container">
			<div class="row py-3 py-md-5 align-items-center border-top">
				<div class="col-md-10">
					<h3 class="feed-item-heading  m-0 font-weight-800">
						<a href="https://www.lakeheadu.ca/about/news-and-events/news/archive/2020/node/61834" target="_blank">CHMSC alum receives the Prime Minister’s Award</a>
					
					</h3>
				</div>
				<div class="col-md-2">
					<p class="m-0 text-pink text-uppercase">Jube 12,2021</p>
				</div>
			</div>
		</div>
	</div>
	<div class="fullbar-item w-100 cursor-pointer" onclick="location.href='#'">
		<div class="container">
			<div class="row py-3 py-md-5 align-items-center border-top">
				<div class="col-md-10">
					<h3 class="feed-item-heading  m-0 font-weight-800">
						<a href="https://www.lakeheadu.ca/about/news-and-events/news/archive/2020/node/61385" target="_blank">Anthropology professor honoured with a Lifetime Achievement Award</a>
					</h3>
				</div>
				<div class="col-md-2">
					<p class="m-0 text-pink text-uppercase">June 12,2021</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
